body {
  margin: auto;
  width: 800px;
}

.calendar {
  margin-top: 100px;
  box-sizing: border-box;
  display: flex;
  flex: 1 0 700px;
  flex-wrap: wrap;

  div {
    transition: transform 0.5s,
      background-color 0.5s;
    background: #eee;
    border: solid 1px black;
    box-sizing: border-box;
    margin: 0 0 1px 1px;
    width: 100px;
    height: 100px;

    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    line-height: 100px;
  }

  div:hover {
    transform: translate(0, -30px);
    background-color: pink;
    cursor: pointer;
  }
}

$day-map: (
  tue:1,
  wed:2,
  thu:3,
  fri:4,
  sat:5,
  sun:6,
);

@each $day, $number in $day-map {
  .calendar-#{$day} :first-child {
    margin-left: #{101*$number}px;
  }
}

@for $i from 1 to 32 {
  .calendar :nth-child(#{$i}):before {
    content: "#{$i}";
  }
}

@for $i from 28 to 31 {
  .calendar-#{$i} :nth-child(n+#{1+$i}) {
    visibility: hidden;
  }
}
