body {
  margin: auto;
  width: 800px;
}

.calendar {
  margin-top: 100px;
  box-sizing: border-box;
  display: flex;
  flex: 1 0 700px;
  flex-wrap: wrap;
  div {
    transition: all 0.5s;
    box-sizing: border-box;
    text-align: center;
    background: #eee;
    border: solid 1px black;
    width: 100px;
    height: 100px;
    margin: 0 0 1px 1px;
    font-family: Arial, sans-serif;
    font-size: 30px;
    line-height: 100px;
    position: relative;
  }

  div:hover {
    bottom: 20px;
    background-color: pink;
    cursor: pointer;
  }
}

.calendar-tue :first-child {
  margin-left: 102px;
}

.calendar-wed :first-child {
  margin-left: 203px;
}

.calendar-thu :first-child {
  margin-left: 304px;
}

.calendar-fri :first-child {
  margin-left: 405px;
}

.calendar-sat :first-child {
  margin-left: 506px;
}

.calendar-sun :first-child {
  margin-left: 607px;
}

@for $i from 1 to 32 {
  .calendar :nth-child(#{$i}):before {
    content: "#{$i}";
  }
}

.calendar-30 :nth-child(31),
.calendar-29 :nth-child(31),
.calendar-29 :nth-child(30),
.calendar-28 :nth-child(31),
.calendar-28 :nth-child(30),
.calendar-28 :nth-child(29) {
  visibility: hidden;
}
